body {
  margin:0;
}

a {
  color:#6782DA;
  text-decoration: none;
}
h1 {
  font-size:60px;
  text-align: center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
  background-color:#1A86D8;
  color: white;
}
.active {
  color:green;
}
ul {
  border-right:1px solid gray;
  width:100px;
  margin:0;
  padding:20px;
  padding-left:35px;
}
#qqa {
display: grid;
grid-template-columns: 150px 1fr;
}
img {
padding-left:35px;
}
@media(max-width:414px) {
#qqa {
  display: block;
}
ul {
  border-right:none;
}
}
p {
  font-size: 20px;
    padding-left:20px;
}
